.name-style {
    color: red;
}
.rigsiter-btn {
    background: linear-gradient(35.22deg, #F77537 -60.88%, #FB9E41 70.28%);
    border-radius: 14px;
    color: #FFFFFF;
}
.login-btn {
    background: linear-gradient(35.22deg, #F77537 -60.88%, #FB9E41 70.28%);
    border-radius: 14px;
    color: #FFFFFF;
}