.card {
    border: unset;
}
.shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
}
/* BANNER */
section.banner {
    padding-top: 76px;
    background-image: url('/assets/pages/home/background-banner-small.webp');
    background-size: cover;
    background-position: center;
}


    section.banner .container {
        max-width: 1410px;
        height: 100%;
    }

#carouselExampleControls .carousel-control-next-icon:hover {
    background-color: rgba(0,0,0,.32);
}
#carouselExampleControls .carousel-control-prev-icon:hover {
    background-color: rgba(0,0,0,.32);
}

#carouselExampleControls {
    background: #f6f3e7;
}
    #carouselExampleControls .carousel-control-next-icon {
        width: 4rem;
        height: 4rem;
        background-color: rgba(0,0,0,.18);
        border-radius: 6px;
    }
    #carouselExampleControls .carousel-control-prev-icon {
        width: 4rem;
        height: 4rem;
        background-color: rgba(0,0,0,.18);
        border-radius: 6px;
    }